#menu {
    width: 100%;
    height: 100%;
    padding: 2%;
}

#menu h1 {
    font-family: "BackToBlack";
    font-size: 42px;
    text-align: center;
    color: black;
}

#menu img {
    margin-top: 2%;
    margin-left: 2%;
    float: left;
}

#blackjack {
    width: 600px;
    height: 350px;
    float: right;
    margin-top: 4%;
    margin-right: 5%;
    background: url('../img/blackjackTable.jpg') no-repeat;
    background-size: 480px 350px;
}

#blackjack #startGameBtn {
    padding-left: 10px;
}

#blackjack button {
    width: 120px;
    height: 50px;
    float: right;
}

#blackjack #backBtn {
    width: 120px;
    position: relative;
    top: 100px;
    left: 20%;
}

#blackjack #drawCardBtn {
    width: 60px;
    height: 30px;
    position: relative;
    top: 280px;
    left: 30%;
}

#blackjack #standBtn {
    width: 60px;
    height: 30px;
    position: relative;
    top: 310px;
    left: 40%;
}

#dealerField {
    width: 360px;
    height: 100px;
    position: relative;
    top: 30px;
    left: 5%;
}

#playerField {
    width: 360px;
    position: relative;
    top: 60px;
    left: 5%;
}

#blackjack #message {
    width: 270px;
    height: 50px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 45px;
    left: 20%;
}

.card {
    width: 70px;
    height: 100px;
    margin-right: -25px;
    margin-top: -15;
    overflow: hidden;
    display: inline-block;
    position: relative;
}

.drawnPlayerCard {
    width: 70px;
    height: 100px;
    margin-right: -25px;
    margin-top: -15;
    display: inline-block;
    position: relative;
}

.drawnDealerCard {
    width: 70px;
    height: 100px;
    margin-right: -25px;
    margin-top: -15;
    display: inline-block;
    position: relative;
}