#menu {
    width: 100%;
    height: 80%;
    padding: 2%;
}

#menu h1 {
    font-family: "BackToBlack";
    font-size: 42px;
    text-align: center;
    color: black;
}

#player {
    font-family: "BackToBlack";
    display: inline-block;
    text-align: center;
    color: black;
    margin-left: 35%;
    margin-right: 20px;
}
#menu img {
    margin-top: 2%;
    margin-left: 2%;
    float: left;
}

#menu form {
    width: 30%;
    float: right;
    margin-top: 5%;
    margin-right: 15%;
}

#menu ul {
    list-style-type: none;
    width: 60%;
    font-family: "arial";
    font-size: 18px;
    font-weight: bold;
    float: right;
    margin-top: 10%;
}

#menu li {
    float: left;
    margin-right: 15%;
    text-align: center;
}

#menu li a {
    display: block;
    width: 100px;
    height: 100px;
    text-decoration: none;
    margin-bottom: 3%;
}

#menu li a:hover {
    border: 2px solid black;
    border-radius: 10px;
}

#menu-item-one {
    background: url("../img/blackjack.png") no-repeat;
}

#menu-item-two {
    background: url("../img/roulette.png") no-repeat;
}

#menu-item-three {
    background: url("../img/slot-machine.png") no-repeat;
}