#roulette {
    width: 400px;
    height: 400px;
    float: right;
    margin-top: 4%;
    margin-right: 5%;
    /*background: */
}

#roulette button {
    width: 120px;
    height: 50px;
    float: right;
}

#roulette #backBtn {
    width: 120px;
    position: relative;
    top: 100px;
    left: 20%;
}

#roulette #spinBtn {
    width: 120px;
    position: relative;
    top: 200px;
    left: 20%;
}

#bettingField {
    width: 300px;
    height: 300px;
}

#table{
    width: 200px;
    height: 200px;
}