#roulette {
    width: 400px;
    height: 400px;
    float: right;
    margin-top: 4%;
    margin-right: 5%;
    /*background: */
}

#roulette button {
    width: 120px;
    height: 50px;
    float: right;
}

#roulette #backBtn {
    width: 120px;
    position: relative;
    top: 100px;
    left: 20%;
}

#roulette #spinBtn {
    width: 120px;
    position: relative;
    top: 200px;
    left: 20%;
}

#bettingField {
    width: 300px;
    height: 300px;
}

#table {
    width: 200px;
    height: 200px;
}

#rouletteTable table {
    border-collapse: collapse;
}

#rouletteTable td:not(.no-border) {
    cursor: pointer;
}

#rouletteTable table td {
    width: 30px;
    height: 30px;
    text-align: center;
    font-family: "arial";
    font-size: 16px;
    font-weight: bold;
    border: 2px solid white;
}

.no-border {
    border: none !important;
}

.green {
    background-color: darkgreen;
    color: white;
}

.red {
    background-color: red;
    color: white;
}

.black {
    background-color: black;
    color: white;
}